p{
    margin:0;
}
.container-verybig{
    max-width:1560px;
}

#bandeausaison4{
    background-image: url(../img/combat.jpg);
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#bandeausaison4 h1{
    color: white;
    text-align:left;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica, sans-serif;
    text-transform:uppercase;
    margin-top: 10px;
}
#bandeausaison4 p{
    color: rgb(241, 230, 178);
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
    padding-top: 20px;
    padding-bottom: 10px;
}
#bandeausaison4 .button-buy {
    background: rgba(159,22,0,.6);
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #f8b700;
    text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
    border: 1px solid #f8b700;
}
#bandeausaison4 .button-ensavoir{
    background:#636362;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #f8b700;
    text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
    margin-left: 30px;
    border: 1px solid #f8b700;
}

#bandeausaison4 .novelties {
    font-size: 1.08rem;
    line-height: 1.5;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    color: #fff;
    text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
    font-weight: 700;
}
#bandeausaison4 .news {
    font-size: 1rem;
    line-height: 1.5;
    color: #f8b700;
    text-shadow: 0 0 1px transparent,0 1px 2px rgba(0,0,0,.8);
}
.text-left{
    margin-top: 80px;
}
#bandeausaison4 .discover{
    color: rgb(241, 230, 178);
    margin-top: 10px;
    text-decoration: underline;
}
#bandeausaison4 .colonne1 {
	
	width: calc(100vw/5);
    border: 1px solid red;
    padding: 20px;
    margin: 25px;
}
#bandeausaison4 .colonne2 {
    padding: 20px;
    border: 1px solid red;
	width: calc(100vw/5);
    margin: 25px;
}
#bandeausaison4 .colonne3 {
    padding: 20px;
    border: 1px solid red;
	margin: 25px;
	width: calc(100vw/5);
}
#bandeausaison4 .colonne4 {
    padding: 20px;
    border: 1px solid red;
    width: calc(100vw/5);
    margin: 25px;
}
#bandeau2saison4{
    background-image: url(../img/gobelin.jpg);
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display : flex;
}

.carrousel{
    display: flex;
    justify-content: space-between;
    height: 200px;
}